{% extends "forms/fields/field.twig" %}

{% block input %}
    {% for option, label in options %}
        <div class="radio">
            <label>
                <input type="{{ type }}" name="{{ name }}" id="{{ name ~ '-' ~ option }}" value="{{ option }}" class="{{ class }}" {% if value == option %}checked{% endif %} {% for prop, val in properties %} {{ prop }}="{{ val }}"{% endfor %}/> {{ label }}
            </label>
        </div>
    {% endfor %}
{% endblock %}